#calculadora {
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px #A081CB;
    padding-bottom: 10px;
    margin: auto;
    background:beige;
    border-radius: 25px;
  }
  input[type=textfield] {
      width: 75%;
      padding: 16px 32px;
      font-size: 16px;
      margin: 8px 0;
      border: 1px solid black;
      border-radius: 1px;
      text-align: left;
      color: #333;
      background: white;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-color:beige;
      border-radius:35px;
      color: black;
      padding: 10px 20px;
      font-size: 16px;
      min-width: 21%;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #333;
  }